<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android debug bridge with web</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="application/javascript" src="/webjars/angularjs/angular.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="application/javascript" src="/js/phone.js"></script>
</head>

<body>

<div class="container" ng-app="phone" ng-controller="PhoneController" >

    <div class="row">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">连接设备列表</h3>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <caption ng-show="deviceList.length==0">No devices connected.</caption>
                    <tr ng-show="deviceList.length>0">
                        <th>Serial No</th>
                        <th>Screen width</th>
                        <th>Screen height</th>
                    </tr>
                    <tr ng-repeat="dev in deviceList">
                        <td ng-mousemove="captureScreen(dev.serialNo, dev.screenWidth, dev.screenHeight)">{{dev.serialNo}}</td>
                        <td>{{dev.screenWidth}}</td>
                        <td>{{dev.screenHeight}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div id="content" class="row-fluid">
        <div class="col-md-4 well">
            <image ng-show="device.screenImage!='blank.png'"
                   class="img-responsive center-block"
                   ng-click="tapScreen($event)"
                   src="/{{device.screenImage}}"
                   width="{{device.screen.width}}"
                   height="{{device.screen.height}}"/>
        </div>
        <div class="col-md-8">
            <table class="table" ng-show="device.connected==true">
                <tr>
                    <td ng-repeat="app in appList">
                        <button class="btn btn-primary btn-lg btn-block" ng-click="startApp(app.name)">{{app.label}}</button>
                    </td>
                </tr>
            </table>
            <textarea id="PhoneConsole" class="form-control" style="height: 100%;width:100%" disabled></textarea>
        </div>
    </div>

</div>


</body>
</html>